@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/*menu toggle button*/
.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
}

.burger {
  width: 35px;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger::before {
  top: -12px;
}

.burger::after {
  top: 12px;
}

.icon.active .burger {
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.icon.active .burger::before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .burger::after {
  top: 0;
  transform: rotate(-45deg);
}

#feature {
  position: absolute;
  width: 100%;
  height: 650px;
  padding: 7.5rem 0 3.125rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-wrapper {
  width: 100%;
}

.block-wrapper .block-flex {
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  margin: auto;

  z-index: 80;
}

#outline {
  position: absolute;
  left: 60%;
  top: 7.5rem;
  transform: translate(-50%, 0);
  width: 40%;
  height: 30rem;
  background: none;
  border: solid 10px rgba(0, 10, 58, 1);
  z-index: 70;
}

#display {
  width: 60%;
  height: 100%;
  background: rgb(0, 46, 58);
}

#sub-feature {
  position: relative;
  top: 25px;
  width: 40%;
  height: auto;
}

#services {
  position: relative;
  height: 50%;
  width: 100%;
  background: rgb(0, 58, 29);
}
#projects {
  position: relative;
  height: 40%;
  width: 70%;
  background: rgb(0, 58, 29);
}

.side-drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
  background: rgba(0, 10, 58, 1);
  z-index: 100;
}
.container {
  margin-top: 80px;
  padding: 40px;
  overflow: auto;
  position: relative;
  text-transform: uppercase;
}
.side-drawer #main-content {
  list-style: none;
  margin-bottom: 60px;
  display: block;
  font-size: 22px;
}

.side-drawer #sub-content {
  display: block;
  position: relative;
  font-size: 12px;
}

.side-drawer #sub-sub-content {
  margin-bottom: 20px;
  display: block;
  position: relative;
  left: 15px;
  text-decoration-line: underline;
  font-size: 10px;
}
.side-drawer > .container > ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.side-drawer > .container > ul a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
}
